html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('Images/background5.png');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  height: 100vh;                 
  margin: 0;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: #f4d14b;
  font-size: 45px;
  text-shadow: 3px 3px 3px #e73c93;
}


.imagen-teinvito {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; /* O el tamaño que necesites */
  position: center;
  height: auto;    /* La altura se ajusta proporcionalmente */
}

table {
  width: 50%; /* O el ancho que desees, menor al 100% */
  margin: 0 auto; /* Centra la tabla */
  border-collapse: collapse;
}


#domingo {
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  color: #e73c93;
  font-size: 25px;
  font-style: normal;
  -webkit-text-stroke: 1.5px white;
  text-align: center;
  padding: 15px;
  border-right: 5px solid white; /* Solo borde izquierdo azul */
}

#tres {
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  color: #e73c93;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  -webkit-text-stroke: 1.5px white;
  padding: 15px;
}

#mayo {
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  color: #e73c93;
  font-size: 25px;
  font-style: normal;
  -webkit-text-stroke: 1.5px white;
  border-left: 5px solid white; /* Solo borde izquierdo azul */
  padding: 15px;
}

#domicilio {
  
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  color: #2164c1;
  font-size: 20px;
  font-style: normal;
}
/* Línea gruesa, corta y centrada */
.linea-estilizada {
  border: 0;
  height: 4px;
  width: 50%;
  background-color: rgb(255, 252, 252);
  margin: 20px auto; /* Centra la línea */
}

.imagen-paula {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* O el tamaño que necesites */
  position: center;
  height: auto;    /* La altura se ajusta proporcionalmente */
}

.imagen-cuatro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; /* O el tamaño que necesites */
  position: center;
  height: auto;    /* La altura se ajusta proporcionalmente */
}


p {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #e73c93;
  font-size: 20px;
  text-shadow: 3px 3px 3px #f2c3dc;
}


li {
  list-style: none;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  color: #e73c93;
  font-size: 25px;
  text-shadow: 3px 3px 3px #f2c3dc;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.btn-liquid {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #e73c93;
  background-color: #fff;
  border: 2px solid #e73c93;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  margin: 0 auto;
  
  
}

